{% extends 'base.html.twig' %}

{% block title %}Hello StatisticController!{% endblock %}

{% block body %}
<table class="table table-bordered">
    <tr>
        <th>Position </th>
        <th>Club </th>
        <th>Wins </th>
        <th>Draws </th>
        <th>Looses </th>
        <th>Goals </th>
        <th>ConcededGoals </th>
        <th>Difference </th>
        <th>Points </th>
    </tr>
    {% for entry in entries %}
        <tr>
                <tr>
                    <td>{{ entry.position }}</td>
                    <td>{{ entry.club.name }}</td>
                    <td>{{ entry.wins }}</td>
                    <td>{{ entry.draws }}</td>
                    <td>{{ entry.loses }}</td>
                    <td>{{ entry.goals }}</td>
                    <td>{{ entry.concededGoals }}</td>
                    <td>{{ entry.goals - entry.concededGoals }}</td>
                    <td>{{ entry.points }}</td>
                </tr>

        </tr>

    {% endfor %}
</table>
{% endblock %}
