{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<table class="table table-bordered">
    <tr>
        <th>HomeForm --></th>
        <th>Fixture </th>
        <th>AwayForm <--</th>
        <th>Result </th>
        <th>Date </th>
        <th>Round </th>
        <th>League </th>
        <th>Played </th>
        <th>Real Decorated </th>
        <th>Bets </th>
        <th>Candidate </th>
        <th>BetOn </th>
    </tr>
    {% for entry in fixtures %}
        <tr>
                {% if entry.wishedResult == 1 %}<tr style="background-color:#b0ff9e;">{% elseif  entry.wishedResult == -1 %}<tr style="background-color:#ff6649;">{% else %}<tr>{% endif %}
                    <td>{{ render_form(entry.homeForm, -1) }}{{ entry.homeForm }}</td>
                    <td>{{ entry.description }}</td>
                    <td>{{ render_form(entry.awayForm) }}{{ entry.awayForm }}</td>
                    {% if entry.played %}<td style="background-color:#20a734;">{% else %}<td style="background-color:#e3391b;">{% endif %}[{{ entry.homeGoals }} - {{ entry.awayGoals }}]</td>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.round }}</td>
                    <td>{{ entry.league }}</td>
                    <td>{% if entry.played %}Yes{% else %}No{% endif %}</td>
                    <td>{% if entry.realBetDecorated %}Yes{% else %}No  <a href=" {{ path('fixture_odds', {fixture_id: entry.fixtureId}) }}" class="btn btn-primary btn-lg square" role="button">Update</a>{% endif %}</td>
                    <td>
                        <table>
                            <tr>
                                <td>{{ entry.singleHome|round(2, 'floor') }} | </td>
                                <td>{{ entry.singleDraw|round(2, 'floor') }} | </td>
                                <td>{{ entry.singleAway|round(2, 'floor') }} | [</td>
                                <td>{{ entry.homeDouble|round(2, 'floor') }} | </td>
                                <td>{{ entry.awayDouble|round(2, 'floor') }} ]</td>
                            </tr>
                        </table>
                    </td>
                    <td>{% if entry.isCandidate %}Yes{% else %}No{% endif %}</td>
                    <td>{{ entry.toBetOn }}</td>
                </tr>
        </tr>

    {% endfor %}
</table>
{% endblock %}
