<p>
    {%if position == 1 %}|{% endif %}
    <span style="font-size:{{ sizes[0] }}px; color:{{ colors[0] }}">{{ parts[0] }}</span>
    <span style="font-size:{{ sizes[1] }}px; color:{{ colors[1] }}">{{ parts[1] }}</span>
    {%if position == 1 %}|{% endif %}
    <span style="font-size:{{ sizes[2] }}px; color:{{ colors[2] }}">{{ parts[2] }}</span>
    {%if position == 2 %}|{% endif %}
    <span style="font-size:{{ sizes[3] }}px; color:{{ colors[3] }}">{{ parts[3] }}</span>
    {%if parts|length == 5 %}<span style="font-size:{{ sizes[4] }}px; color:{{ colors[4] }}">{{ parts[4] }}</span>{% endif %}
    {%if position == 2 %}|{% endif %}
</p>
